body{
    background-color:black;
    color:#FFD133;
}




#navbar{
    display:flex;
    justify-content:space-around;
    color:orange;
    font-size:30px;
}
.header{
    display:flex;
    justify-content:center;
    
}

.social-image{
    width: 30px;
    margin: 15px;
}
a {
    color:orange;
}
a:hover{
    font-size:35px;
}

.picture{
   
    display:flex;
    justify-content:center;
    padding:10px;
    border:5px solid black;
    margin:15px;
}

.dove{
    margin:50px;
    padding:10px;
   border:5px solid white;
   display:flex;
   justify-content:space-between;
}
 .number2{
     height:250px;
     width:350px;
 }
.cover{
    height:250px;
    width:250px;
}
.gucci {
    height:250;
    width:200;
}
.kale{
    height:100px;
    width:500px;
    display:flex;
    justify-content:center;
}
.fun{
    display:flex;
    justify-content:center;
}
.fun:hover{
    font-size:35px;


}
.first{
    color:#6523ff;
}
.opinions{
    font-style:italic;
    color:#6523ff;
    
}
.pa{
    
}
 .midright{
     width:10px;
     height:10px;
     
 }
 
 .midleft{
    
     float:left;
 }
 
 .about{
     display:flex;
     justify-content:center;
 }